body {
    background: none;
}

.container {
	visibility: hidden;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

img {
	max-height: 75vh;
	width: auto;
	display: block;
	position: absolute;
	top:0;
	bottom: 0;
	left: 35%;
	right: 0;
	margin: auto;
}